body {
  color: rgba(0,0,0,0.7);
  font-size: 1.9em;
  font-family: Georgia,'Times New Roman',Times,serif;
}

.probootstrap-navbar .navbar-brand {
  width: 150px;
}

.price {
  font-size: 20px;
  color: #FFA33E;
}

.modal-content,
.modal-body,
.modal-dialog
{
  padding: 0;
  width:90%;
  height: 100%;
}

iframe.modal {
  margin: 5%;
  width: 100%;
  height: 70%;
}